mixin preview(number)
  img(class="gallery__item" src=`./src/img/${number}.jpg`, alt=`Preview - ${number}`)


mixin text-block(title, description)
  .text-block.gallery__item
    h2.text-block__h= title 
    p.text-block__p= description

.portfolio
  .container
    .gallery
      .gallery__left(data-speed=".9")
        +preview(1)
        +preview(2)
        +text-block(data[0].title, data[0].description)
        +preview(6)
      .gallery__right(data-speed="1.1")
        +text-block(data[1].title, data[1].description)
        each val in [4, 5, 3] 
          +preview(val)