@import '_reset';
@import '_fonts';

@import './templates/hero';
@import './templates/gallery';


:root {
  --index: calc(1vw + 1vh);

  --c-header: #f4efec;
  --c-text: #cdc6c3;

  --c-white: #fff;
  
  --gallery-gap: calc(var(--index)  * 10);
}

html, body {
  background-image: url(../bg.jpg);
  background-size: 50px;
  color: var(--c-white);
  font-family: Raleway;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Outfit";
}

.content, .hero, .main-header, .gallery > * {
  will-change: transform;
}

.container {
  padding: 0 7vw;
}